<div class="hidden w-full bg-red-100 card border-red-500 border-2">
	<div class="flex">
		<h4 class="title">{{title}}</h4>
	</div>
	<div id="alert-message" class="m-5">
        {{{ slot }}}
	</div>
</div>
