<div class="md:w-full h-full bg-olive-100 dark:bg-mist-900 card">
    <div class="flex">
        <h4 class="title">{{title}}</h4>
    </div>
    <div class="m-5">
        <p class="text-justify">
			{{{  slot }}}
        </p>
    </div>
</div>
