<Page lang="en" description="Personal Webpage" title="Martin Andrieux">

	<header>
		<Header image="static/picture.jpg" title="Martin Andrieux" subtitle="PhD Student - University of Rennes" />

		<!-- Burger button -->
		<div id="burger-button"
			class="xl:hidden flex fixed right-0 top-0 m-5 w-15 h-15 bg-orange-300 dark:bg-sky-900 items-center justify-center rounded-full shadow-lg group">
			<i class="bi bi-list text-4xl duration-200 group-hover:rotate-90"></i>
		</div>
		<div id="menu-panel">
			<div class="w-[70%] right-0 h-full bg-orange-300 dark:bg-sky-900">
			</div>
		</div>

		<Menu>
			<Entry href="">Home</Entry>
			<Entry href="">Teaching</Entry>
			<Entry href="">Climbing</Entry>
			<Entry href="https://dj.mandrieux.fr">Jukebox</Entry>
		</Menu>

	</header>

	<main class="text-base md:text-xl">
		<div class="flex justify-center m-10 xl:ml-[calc(var(--container-2xs)+10*var(--spacing))] 2xl:ml-10">
			<div class="flex flex-col gap-4 md:gap-8 place-content-center items-center 2xl:w-5xl">
				<div class="flex flex-col md:flex-row gap-4 md:gap-8 items-center">

					<Description title="About me" test=value class="hidden">
						I am a PhD student in Computer Science at <a class="inline-a" href="https://irisa.fr">IRISA
							Rennes</a>
						(France), where
						my research focuses on programming language theory and formal methods.
						Specifically, my work centers on effect systems, abstract machines, and semantics
						transformations.
					</Description>

					<div class="w-full md:w-auto h-full bg-olive-100 dark:bg-mist-900 card self-start">
						<div class="flex">
							<h4 class="title">Useful Links</h4>
						</div>
						<div class="flex flex-col h-full m-5 justify-around">
							<div class="flex gap-2 items-center justify-between my-2"><i
									class="bi bi-envelope-at text-2xl md:text-3xl"></i>
								<span class="font-mono"><a class="inline-a"
										href="mailto:martin.andrieux@inria.fr">martin·andrieux@inria·fr</a></span>
							</div>
							<div class="flex gap-2 items-center justify-between my-2"><i
									class="bi bi-github text-2xl md:text-3xl"></i>
								<span class="font-mono"><a class="inline-a"
										href="https://github.com/Marsupilami1">github.com/Marsupilami1</a></span>
							</div>
							<div class="flex gap-2 items-center justify-between my-2"><i
									class="bi bi-file-earmark text-2xl md:text-3xl"></i>
								<span class="font-mono">cv in <a class="inline-a" href="static/cv_en.pdf">english</a> |
									<a class="inline-a" href="static/cv_fr.pdf">french</a>
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="w-full bg-taupe-100 dark:bg-mist-900 card">
					<div class="flex">
						<h4 class="title">Publications</h4>
					</div>
					<div class="grid gap-2 m-3 p-2">
						<div class="flex flex-col gap-2 overflow-hidden">
							<Article title="Algebraizing Higher-Order Effects" short_authors="M.Andrieux, A.Schmitt"
								authors="Martin Andrieux, Alan Schmitt" conference="JFLA26"
								url="https://hal.science/hal-05428145">
								We present a technique for expressing higher-order effects as algebraic ones.
								Algebraic effects provide a clean and modular account of computational effects,
								but they exclude higher-order effects such as local or catch. The standard
								representation of higher-order effects breaks the separation between syntax and
								interpretation that algebraic effects rely on. Our proposal, effect
								algebraization, transforms higher-order effects into combinations of algebraic
								effects. Each higherorder effect is split into a pair of operations-Open and
								Close-that together capture the same behavior using only algebraic constructs.
								The approach is illustrated on reader effects, ask and local. We also sketch a
								proof of semantics preservation: for every interpretation of the original
								higher-order effects, there exists a corresponding interpretation of the
								algebraized ones yielding the same result.
							</Article>
							<Article title="Skeletal Semantics of a Fragment of Python"
								short_authors="M.Andrieux, A.Schmitt" authors="Martin Andrieux, Alan Schmitt"
								conference="JFLA24" url="https://inria.hal.science/hal-04406392">
								We present PySkel, a formalization of the semantics of a fragment of Python in
								Skel, a simple semantics description language. We describe a subset of the
								Python programming language including assignments, function calls, object
								oriented features, and exceptions. This subset is large enough to include
								challenges in the formalization of Python such as the handling of scopes. This
								formalization is used to generate an OCaml interpreter that can be used to run
								Python programs.
							</Article>
							<Article title="Active Objects Based on Algebraic Effects"
								short_authors="M.Andrieux, L.Henrio, G.Radanne"
								authors="Martin Andrieux, Ludovic Henrio, Gabriel Radanne" conference="AOL24"
								url="https://doi.org/10.1007/978-3-031-51060-1_1">
								Algebraic effects are a long-studied programming language construct allowing the
								implementation of complex control flow in a structured way. With OCaml 5, such
								features are finally available in a mainstream programming language, giving us a
								great opportunity to experiment with varied concurrency constructs implemented
								as simple libraries. In this article, we explore how to implement concurrency
								features such as futures and active objects using algebraic effects, both in
								theory and in practice. On the practical side, we present a library of active
								objects implemented in OCaml, with futures, cooperative scheduling of active
								objects, and thread-level parallelism. On the theoretical side, we formalise the
								compilation of a future calculus that models our library into an effect calculus
								similar to the primitives available in OCaml; we then prove the correctness of
								the compilation scheme.
							</Article>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</main>

</Page>
